<section class="card filters">
  <div class="filters__grid">

    <div class="field">
      <label>Danh mục theo nhóm</label>

      <tui-textfield [tuiTextfieldCleaner]="false">
        <input
          tuiInput
          type="text"
          placeholder="Nhập nội dung"
          [(ngModel)]="filters.paramType"
        />
      </tui-textfield>
    </div>

    <div class="field">
      <label>Giá trị thành phần</label>

      <tui-textfield [tuiTextfieldCleaner]="false">
        <input
          tuiInput
          type="text"
          placeholder="Nhập nội dung"
          [(ngModel)]="filters.paramValue"
        />
      </tui-textfield>
    </div>

    <div class="field">
      <label>Tên thành phần</label>

      <tui-textfield [tuiTextfieldCleaner]="false">
        <input
          tuiInput
          type="text"
          placeholder="Nhập nội dung"
          [(ngModel)]="filters.paramName"
        />
      </tui-textfield>
    </div>

    <div class="field">
      <label>Trạng thái tham số</label>

      <tui-textfield
        tuiChevron
        [stringify]="stringifyStatus"
        [tuiTextfieldCleaner]="false"
      >
        <input
          tuiSelect
          [(ngModel)]="filters.status"
          placeholder="Chọn trạng thái tham số"
        />

        <tui-data-list-wrapper
          *tuiDropdown
          [items]="statusItems"
        />
      </tui-textfield>
    </div>

    <div class="field">
      <label>Trạng thái hoạt động</label>

      <tui-textfield
        tuiChevron
        [stringify]="stringifyIsActive"
        [tuiTextfieldCleaner]="false"
      >
        <input
          tuiSelect
          [(ngModel)]="filters.isActive"
          placeholder="Chọn trạng thái hoạt động"
        />

        <tui-data-list-wrapper
          *tuiDropdown
          [items]="isActiveItems"
        />
      </tui-textfield>
    </div>

    <div class="filters__actions">
      <button
        class="btn btn--ghost"
        tuiButton
        appearance="secondary"
        type="button"
        [disabled]="loading"
        (click)="onClear()"
      >
        Xóa bộ lọc
      </button>

      <button
        class="btn btn--primary"
        tuiButton
        appearance="primary"
        type="button"
        [disabled]="loading"
        (click)="onSearch()"
      >
        Tìm kiếm
      </button>
    </div>

  </div>
</section>